.chrome-hosts-manager-ipaddr {
	position: fixed;
	bottom: 15px;
	left: 5px;
	z-index: 10000000;
	padding: 0 .5em;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, .35);
	-webkit-transition: background-color 1s;
	cursor: pointer;
	font-family: tahoma,arial;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}
.chrome-hosts-manager-ipaddr:hover {
	background-color: rgba(0, 0, 0, .7);
}